.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

.headerLogo {
	top: -3px;
	position: relative;
	width: 30px;
}

.navbar-brand > img {
	display: inline-block;
}

.jumbotron {
	padding-top: 0;
}

.exchangesContainer{
/*	height: 200px;*/
	overflow-y: scroll;
}

.listBody{
	text-align: left;
	margin: auto;
	max-width: 500px;
}

.topPageBtnsContainer{
	margin: auto;
	max-width: 500px;
}

.top-btn{
	width: 48%;
}

.accHeader{
	display: inline;
}
.reptNotice{
	float: right;
	color: red;
	font-weight: bold;
}
.taskPanel{
	padding:5px !important;
}


.btnsRow{
	height:50px;
}

.playerIcons{
	margin: 5px;
	color: white;
	float: left;
/*	display: inline;*/
}

.thumbInfo{
	margin-bottom: 5px;
}

.taskInfo{
	margin-left: 5px;
}

.answerArea{
	width: 100%;
	overflow-y: hidden;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid gray;
}

td.taskDisplay{
	vertical-align: top;
}

accordion .panel-group{
	margin-top:5px;
	margin-bottom: 0;
}

accordion .panel-body{
	padding:10px;
}

.audioPlayer{
	background-color: gray;
	margin-bottom:3px;
	width: 100%;
	height:30px;
}
